.listHotspot {
    text-align: left;
    margin-top: 50px;
    .listHotspot-title {
        background: #ebebeb;
        color: #afafaf;
        font-size: 20px;
        font-weight: 100;
        padding: 7px;
        padding-left: 12px;
        margin-bottom: 0;
    }
    .options-wrapper {
        padding: 0;
        margin-top: 0;
        li {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            border-bottom: solid 1px #e8e8e8;
            p {
                display: inline-block;
                color: #afafaf;
                padding-left: 11px;
            }
            button {
                display: inline-block;
                background: none;
                border: none;
                outline:none;
                color: #4a90e2;
                text-decoration: underline;
                cursor: pointer;
            }
        } 
    }
}